header.header
    .container
        .row
            .page-title
                p.main-title Летопись русской семьи
            .menu
                a.item(href="#") Пункт
                a.item(href="#") Пункт
                a.item(href="#") Пункт
                a.item(href="#") Пункт
                //Здесь должна быть иконка поиска